/* @media only screen and (max-width: 768px) {
	.com-retain-capital__content{
		width: 100%;
		height: 85%;
	}
} */
.com-retain-capital{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	margin: 0;
	z-index: 99;
	background-color: rgba(0,0,0,0.3);
	visibility: hidden;
}

.com-retain-capital__content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%); 
	width: 362px;
	height: 642px;
	background: linear-gradient(to bottom , #4fa0f4 ,#80d5d4);
	border-radius: 6px;
	padding: 18px 16px;
	box-sizing: border-box;
}
.com-retain-capital__title{
	width: 100%;
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.com-retain-capital--close{
	position: absolute;
	top: 20px;
	right: 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	color: #333;
}

.com-retain-capital__content--box{
	height: 580px;
	width: 100%;
	background-color: #fff;
	border-radius: 6px;
	overflow: hidden;
}
.crc__div--logo{
	width: 100%;
	height: 38px;
	background-color: #F8F9FA;
	box-sizing: border-box;
	padding: 10px 16px;
}
.crc__div--logo>img{
	width: 71px;
	height: 22px;
}


.crc__div--form{
	padding: 16px 12px;
	font-size: 0;
}


.crc__div--form-item{
	width: 100%;
	height: 34px;
	border: none;
	border-radius: 3px;
	background-color: #F8F9FA;
	padding-left: 12px;
	padding-right: 12px;
	box-sizing: border-box;
	color: #333;
}
textarea.crc__div--form-item{
	height: 70px;
	margin-top: 4px;
}
select.crc__div--form-item{
	color: #BEC5C6;
}
select.crc__div--form-item.is-selected{
	color: #333;
}
.crc__div--form-item::-webkit-input-placeholder{
	color:#BEC5C6;
	font-size: 12px;
}
.crc__div--form-item::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#BEC5C6;
	font-size: 12px;
}
.crc__div--form-item:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#BEC5C6;
	font-size: 12px;
}
.crc__div--form-item:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
	color:#BEC5C6;
	font-size: 12px;
}

.form-item--bottom{
	margin-bottom: 24px;
}
.form-item--tips{
	padding-left: 12px;
	height: 24px;
	line-height: 24px;
	box-sizing: border-box;
	font-size: 12px;
	color: #f56c6c;
}



.crc--company-name{
	color: #333;
	font-size: 12px;
	line-height: 20px;
}
.crc--company-desc{
	color: #999999;
	font-size: 12px;
	margin-bottom: 18px;
}

.crc__button{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width: 120px;
	height: 32px;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
	margin: 0 auto;
	cursor: pointer;
	background: linear-gradient(to right , #4fa0f4 ,#80d5d4);
}






.com-retain-capital__tip{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%); 
	width: 365px;
	height: 272px;
	background: linear-gradient(to bottom , #4fa0f4 ,#80d5d4);
	border-radius: 6px;
	padding: 18px 9px;
	visibility: hidden;
}
.com-retain-capital__tip--close{
	position: absolute;
	top: 35px;
	right: 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	color: #333;
}
.com-retain-capital__tip--content{
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background-color: #fff;
	overflow: hidden;
}
.crc__tip-content--logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48px;
	background-color: #F8F9FA;
	font-size: 20px;
}
.crc__tip-content--logo>img{
	width: 92px;
	height: 29px;
}

.crc__tip-content--content{
	padding: 15px;
	box-sizing: border-box;
	font-size: 12px;
	color: #333;
}
.tip-content--desc{
	color: #999;
	margin-bottom: 6px;
}
.tip-content--link{
	margin-bottom: 6px;
}
.tip-content--text{
	margin-bottom: 10px;
}

.tip-content--felx{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.tip-content--qrcode-box{
	width: 60px;
	
}
.tip-content--qrcode-box>img{
	width: 60px;
	height: 60px;
}
.tip-content--qrcode-box>p{
	text-align: center;
	font-size: 12px;
	color: #999;
}



@media screen and (max-device-width: 500px){
	.com-retain-capital__content{
		top: auto;
		bottom: 0;
		transform: translate(-50%,0);
		width: 100%;
		height: 15.12rem;
		padding: .36rem .32rem;
	}
	.com-retain-capital__title{
		font-size: .36rem;
		margin-bottom: .2rem;
		text-align: left;
	}
	.com-retain-capital--close{
		top: .36rem;
		right: .32rem;
		width: .32rem;
		height: .32rem;
	}
	
	.com-retain-capital__content--box{
		height: 13.52rem;
	}
	.crc__div--logo{
		height: 1.16rem;
		padding: .2rem .32rem;
	}
	.crc__div--logo>img{
		width: 2.13rem;
		height: .66rem;
	}
	.crc__div--form{
		padding: .32rem .24rem;
		
	}
	
	.crc__div--form-item{
		height: .68rem;
		padding-left: .24rem;
		padding-right: .24rem;
		margin-bottom: .06rem;
		font-size: .24rem;
	}
	textarea.crc__div--form-item{
		height: 1.4rem;
		margin-top: .08rem;
	}
	.crc__div--form-item::-webkit-input-placeholder{
		font-size: .24rem;
	}
	.crc__div--form-item::-moz-placeholder{   /* Mozilla Firefox 19+ */
		font-size: .24rem;
	}
	.crc__div--form-item:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
		font-size: .24rem;
	}
	.crc__div--form-item:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
		font-size: .24rem;
	}
	
	.form-item--bottom{
		margin-bottom: .48rem;
	}
	.form-item--tips{
		padding-left: .24rem;
		height: .48rem;
		line-height: .48rem;
		box-sizing: border-box;
		font-size: .12rem;
		color: #f56c6c;
		margin-bottom: 0.06rem;
	}
	
	.crc--company-name{
		font-size: .24rem;
		line-height: .4rem;
	}
	.crc--company-desc{
		font-size: .24rem;
		margin-bottom: .36rem;
	}
	
	.crc__button{
		width: 100%;
		height: .9rem;
		font-size: .24rem;
	}
	
	.com-retain-capital__tip{
		width: 7.3rem;
		height: 6rem;
		padding: .36rem .2rem;
	}
	.com-retain-capital__tip--close{
		position: absolute;
		top: .7rem;
		right: .32rem;
		width: .32rem;
		height: .32rem;
	}
	.crc__tip-content--logo{
		height: .96rem;
		font-size: .4rem;
	}
	.crc__tip-content--logo>img{
		width: 1.84rem;
		height: .58rem;
	}
	
	.crc__tip-content--content{
		padding: .3rem;
		font-size: .24rem;
	}
	.tip-content--desc{
		margin-bottom: .12rem;
	}
	.tip-content--link{
		margin-bottom: .12rem;
	}
	.tip-content--text{
		margin-bottom: .2rem;
	}
	
	.tip-content--qrcode-box{
		width: 1.2rem;
	}
	.tip-content--qrcode-box>img{
		width: 1.2rem;
		height: 1.2rem;
	}
	.tip-content--qrcode-box>p{
		font-size: .24rem;
	}
	
}