body {
    color: #fff;
}

.special-color {
    color: #38B3EF;
}

.special-color-d {
    color: #5cd1d5;
}

.special-color--blue {
    color: #38B3EF;
}

.gradient-font {
    background: linear-gradient(90deg, #4FA2F1 0%, #85D3C5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 13%; */
    height: 5.185%;
    font-size: .1458rem;
    color: #38B3EF;
    font-weight: bold;
    background-color: transparent;
    border-radius: 69px;
    border: .010416rem solid #38B3EF;
}

.btn.special-color--blue {
    border-color: #38B3EF;
}

.btn>img {
    width: .1875rem;
    height: .1875rem;
    margin-left: 0.5208%;
}

.m .btn {
    width: 5.2rem;
    height: .92rem;
    font-size: .36rem;
    border-radius: .64rem;
    border: 2px solid #38B3EF;
}

.m .btn>img {
    width: .36rem;
    height: .36rem;
    margin-left: .2rem;
}

.is-disabled {
    position: relative;
    cursor: not-allowed;
}

.video {
    width: 100%;
}

video {
    object-fit: cover;
}

.user-select--none {
    user-select: none;
}

.pointer-events--none {
    pointer-events: none;
}

.screen {
    position: relative;
    width: 100%;
}

@keyframes BtnFluctuate {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes MBtnFluctuate {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, .2rem);
    }
    100% {
        transform: translate(0, 0);
    }
}

.btn--fluctuate {
    animation: BtnFluctuate 1s .5s linear infinite;
}

.m .btn--fluctuate {
    animation: MBtnFluctuate 1s .5s linear infinite;
}

.screen1 {
    background-image: url('../assets/poster-m-1.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.screen1__box--1 {
    position: absolute;
    /* left: 120px;
    top: 249px; */
    left: 5.26%;
    top: 35%;
}

.m .screen1__box--1 {
    left: .32rem;
    top: 2.4rem;
}

.v-title--1 {
    margin-bottom: 50px;
}

.screen1__box--2 {
    position: absolute;
    /* left: 120px;
    bottom: 10%; */
    left: 6%;
    bottom: 13%;
    color: #fff;
    /* width: 432px; */
    width: 28%;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, .45);
}

.m .screen1__box--2 {
    left: .32rem;
    width: 80%;
    font-size: .36rem;
    padding-bottom: .36rem;
}

.screen1--mv-down {
    position: absolute;
    right: 0;
    display: inline-flex;
    justify-content: center;
    bottom: 10px;
    padding: 10px;
    animation: Fluctuate 1s .5s linear infinite;
}

@keyframes Fluctuate {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 10px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes MFluctuate {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, .2rem);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.screen1--mv-down>img {
    /* width: 30px;
    height: 23px; */
    width: 0.15625rem;
    height: 0.1197rem;
}

.m .screen1--mv-down {
    left: 50%;
    transform: translateX(-50%);
    bottom: .22rem;
    padding: .1rem;
    animation: MFluctuate 1s .5s linear infinite;
}

.m .screen1--mv-down>img {
    width: .6rem;
    height: .46rem;
}

.single-item {
    position: relative;
    /* padding-left: 20px; */
    padding-left: 1.8%;
}

.single-item::before {
    position: absolute;
    top: 0;
    /* left: 4px; */
    content: '·';
    /* font-size: 18px; */
    font-weight: bold;
    font-size: .09375rem;
    left: .020834rem;
}

.screen2 {
    background-image: url('../assets/poster-m-2.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
}

.screen2__box--1 {
    position: absolute;
    /* right: 8%; */
    /* top: 200px; */
    top: 30%;
    right: 13.38%;
    color: #fff;
}

.m .screen2__box--1 {
    top: 1.52rem;
    left: 50%;
    right: 0;
    width: 100%;
    transform: translateX(-50%);
}

.screen2__box--1>p {
    text-align: right;
    margin-bottom: 4px;
}

.screen2__box--2 {
    position: absolute;
    /* right: 8%;
    bottom: 20%; */
    right: 14%;
    bottom: 14.8%;
    width: 17.8%;
}

.pc .screen2__box--2>.btn {
    width: 100%;
}

.screen2__box--2>img {
    width: 250px;
}

.m .screen2__box--1>p {
    text-align: center;
}

.m .screen2__box--2 {
    right: 50%;
    transform: translateX(50%);
}

.m .screen2__box--2>img {
    width: 5rem;
}

.screen3 {
    background-image: url('../assets/bg-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    padding-top: 5.56%;
    box-sizing: border-box;
}

.m .screen3 {
    padding-top: 0;
    background: none;
}

.screen3--title {
    width: 100%;
    text-align: center;
    margin-bottom: .7rem;
}

.screen3-content {}

.screen3-desc {
    width: 74.27%;
    position: relative;
    left: 12.86%;
}

.screen3-desc>p {
    text-align: left;
}

.m .screen3-desc>p {
    text-align: left;
    margin-bottom: .28rem;
}

.m-bg {
    background-image: url('../assets/m-bg-box.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.m .screen3-content {
    margin: 0 .3rem;
    padding: .6rem .36rem .6rem;
    box-sizing: border-box;
}

.screen3-content__div {
    justify-content: center;
    margin-bottom: 14px;
}

.m .screen3-content__div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screen3-content--box {
    /* width: 20%; */
    /* max-width: 320px; */
    width: 1.8073rem;
    /* margin: 0 -5px 0; */
    margin: 0 -0.86875% 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.m .screen3-content--box {
    width: 50%;
    margin-bottom: .3rem;
}

.screen3-content__img {
    width: 100%;
}

.screen3-content__p {
    flex: 0 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 164px; */
    /* height: 45px; */
    /* margin-bottom: .10416rem; */
    margin-bottom: 0.26041rem;
}

.m .screen3-content__p {
    width: 100%;
    display: inline-block;
    height: .8rem;
    line-height: .8rem;
    margin-bottom: .2rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .4);
}

.screen3-content--add {
    /* width: 1.3%;
    height: 1.3%; */
    width: 0.234375rem;
    height: 0.234375rem;
    margin-top: 0.026rem;
}

.screen3__footer {
    /* display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 120px; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 9%;
}

.screen3__footer>.btn {
    margin: 0 2.78%;
}

.m .screen3__footer {
    margin-top: 1.2rem;
}

.m .screen3__footer>.btn {
    width: 3.6rem;
    margin: 0 .3rem;
}

.screen4 {
    background-image: url('../assets/bg-4.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: 0 0;
    /* padding-top: 150px; */
    color: #fff;
    padding-bottom: 125px;
    padding-top: 4.5%;
}

.m .screen4 {
    padding: 2rem 0 2.5rem;
}

.screen4--title1 {
    /* width: calc(76%*0.8 + 36px); */
    margin: 0 auto;
    /* margin-bottom: 85px; */
    width: 39.3%;
    margin-bottom: 2.95%;
}

.screen4--title1>p:nth-of-type(1) {
    text-align: center;
}

.m .screen4--title1 {
    width: 90%;
    text-align: left;
}

.screen4--title1>p {
    margin-bottom: 20px;
}

.m .screen4--title1>p {
    margin-bottom: .4rem;
}

.screen4--content1 {
    /* width: 76%; */
    width: 78.14%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-around;
}

.screen4--content1>img {
    /* width: 20%; */
    /* margin: 8px 6px; */
    width: 23.34%;
    margin: 0.88% 0.65%;
}

.screen4--content1>p {
    /* width: 20%; */
    /* margin: 8px 6px; */
    margin: 0.88% 0.65%;
    text-align: center;
    width: 23.34%;
}

.screen4--button1 {
    /* width: 519px;
    margin: 130px auto 100px; */
    display: flex;
    justify-content: center;
    margin: 0.45rem;
}

.screen4--button1>.btn {
    width: 100%;
}

.m .screen4--button1 {
    width: 90%;
    margin: 1.3rem auto 2.4rem;
}

.screen4--title2 {
    text-align: center;
    /* margin: 0 auto 80px; */
    margin: 7.4% auto 7.4%;
}

.m .screen4--title2 {
    margin-bottom: 1.4rem;
}

.screen4__demo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 30px 90px; */
    margin: 0 30px 3.34%;
}

.screen4__demo--left {
    width: 26%;
    margin-right: 40px;
}

.screen4__demo--left>p {
    text-align: center;
}

.screen4__demo--left>img {
    /* width: 100%; */
    /* max-width: 400px; */
    width: 91.1%;
}

.screen4__demo--right {
    width: 50%;
    min-width: 650px;
}

.screen4-title3 {
    text-align: center;
}

.screen4-app {
    /* width: 76%; */
    width: 68.28125%;
    margin: 46px auto 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.screen4-app>img {
    /* width: calc(30% - 36px); */
    width: 30.358505%;
    margin: 18px;
}

.screen4-app__button {
    /* width: 519px; */
    margin: 0 auto;
    width: 27%;
}

.screen4-app__button>.btn {
    width: 100%;
}

.screen4-app__button>.s4_font-size--35 {
    font-size: .18229167rem;
}

.m .screen4-app__button {
    width: 90%;
}

.m .case-box {
    position: relative;
    width: calc(100% - 0.6rem);
    margin: 0 0.3rem;
    background-color: rgba(0, 0, 0, .3);
    box-sizing: border-box;
    padding: .22rem .32rem .2rem;
    margin-bottom: .32rem;
}

.m .case-box.margin-bottom--100 {
    margin-bottom: 1rem;
}

.case-box__title--icon {
    position: absolute;
    top: .4rem;
    right: .32rem;
}

.case-box__content {
    display: none;
    padding-top: .32rem;
    padding-bottom: .32rem;
}

.case-box__content>img {
    width: 100%;
    margin-bottom: .32rem;
}

.case-box__content>p {
    line-height: .64rem;
}

.is-open .case-box__title {
    padding-bottom: .2rem;
    border-bottom: 1px solid rgba(255, 255, 255, .06);
}

.is-open .case-box__content {
    display: block;
}

.is-open .case-box__title--icon {
    transform: rotate(180deg);
}


/* .case-box__content--first{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
} */

.swiper__div {
    position: relative;
    margin-bottom: 1.6rem;
}

.m .swiper-slide--content {
    width: calc(100% - 0.6rem);
    margin: 0 .3rem;
    padding: .6rem .36rem .6rem;
    box-sizing: border-box;
}

.m .swiper-slide--content>img {
    width: 100%;
    height: 5rem;
}

.m .swiper__div .swiper-pagination.swiper-pagination-bullets {
    bottom: -.8rem;
    left: 50%;
    transform: translateX(-50%);
}

.m .swiper__div .swiper-pagination--screen4 {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    line-height: .5rem;
    font-size: .24rem;
    margin: 0 .2rem!important;
}

.m .swiper__div .swiper-pagination--screen4.swiper-pagination-bullet-active {
    background: linear-gradient(to bottom right, #4fa0f4, #80d5d4);
}

.m .limited-size {
    width: 100%;
    overflow: hidden;
}

.m .oversized-box {
    transform: translateX(-25%);
    width: 200%;
}

.m .swiper-container--app {
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.swiper-container--app .swiper-slide {
    font-size: .2rem;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    transform: scale(0.8);
}

.swiper-container--app .swiper-slide-active,
.swiper-slide-duplicate-active {
    transform: scale(1);
}

.swiper-container--app .swiper-slide {}

.swiper-container--app .swiper-slide>img {
    width: 100%;
}

.swiper-container--app .swiper-slide {
    /* margin-right: .3rem!important; */
}

.screen5 {
    background-color: #000;
    padding-top: 3px;
    color: #fff;
}

.m .screen5 {
    height: auto;
    padding-bottom: 1rem;
}

.screen5-title {
    /* margin-top: 90px; */
    margin-bottom: 14px;
    text-align: center;
    margin-top: 9.24%;
}

.screen5-slog {
    text-align: center;
}

.screen5--content {
    width: 62.5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px auto 0;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 1200px; */
    padding-bottom: 20%;
}

.m .screen5--content {
    width: 100%;
    /* 	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow-x: auto; */
    margin: .4rem 0 .2rem;
    padding: 0 .3rem;
    box-sizing: border-box;
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.m .screen5--content::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.screen5--content__div {
    /* margin: 0 13px 20px; */
    width: 9.25%;
    height: 19.389%;
    margin: 0 1.377% 1.85%;
}

.m .screen5--content__div {
    margin: 0;
}

.screen5--content__div>img {
    /* width: 120px;
    height: 120px; */
    width: 100%;
    height: 79.57%;
    margin-bottom: 4px;
}

.screen5--content__div>p {
    /* font-size: 12px; */
    text-align: center;
}

.m .screen5--content__div>img {
    width: 2rem;
    height: 2rem;
    margin-bottom: .2rem;
}

.screen6 {
    background-image: url('../assets/bg-4.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: 0 0;
    padding-top: 90px;
    color: #fff;
    padding-bottom: 125px;
}

.screen6>img {
    display: block;
    width: 66%;
    margin: 0 auto 40px;
}

.m .screen6>img {
    width: 90%;
    margin-bottom: .4rem;
}

.screen6-button {
    display: flex;
    justify-content: center;
    /* margin-top: 73px; */
    margin-top: 3.55%;
}

.screen6-button>img {
    width: 250px;
}

.m .screen6-button>img {
    width: 4.2rem;
}

.pc {
    display: block;
    /* font-size: 62.5% !important; */
}

.m {
    display: none;
}

@media screen and (max-device-width: 500px) {
    .pc {
        display: none;
    }
    .m {
        display: block;
    }
}


/* new style */


/* 首屏 */

.s1_title_font-size {
    font-size: .59375rem;
}

.s1_title2_font-size {
    font-size: .3075rem;
}

.s1_title3_bottom_font-size {
    font-size: .1041rem;
}


/* 第二屏 */

.s2_title_font-size {
    font-size: .34375rem;
}

.s2_title2_font-size {
    font-size: .1354rem;
    font-weight: 600;
}

.s2_btn {
    /* width: 17.86%; */
    font-size: .22916rem;
    width: 100%;
    height: 5.56%;
}

.s2_btn>img {
    width: .1875rem;
    height: .1875rem;
    margin-left: 0.5208%;
}

.s3_title_font-size {
    font-size: .39065rem;
}

.s3_w_title_font-size {
    font-size: .15625rem;
}

.s3_des_font-size {
    font-size: .10417rem;
    text-align: left;
}

.s3_footer_btn {
    font-size: .17708rem;
    width: 16.4%;
    height: 5.1%;
}

.s3_footer_btn>img {
    width: .1875rem;
    height: .1875rem;
    margin-left: 0.5208%;
}

.s4_title_font-size {
    font-size: .390625rem;
}

.s4_des_font-size {
    font-size: .08854167rem;
}

.s4_b_title_font-size {
    font-size: .2084rem;
    font-weight: 600;
}

.s4_btn {
    font-size: .334rem;
    width: 44.8%;
    height: 9.7%;
}

.s_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #38B3EF;
    font-weight: 600;
    background-color: transparent;
    border-radius: 126px;
    border: .010416rem solid #38B3EF;
}

.s_btn>img {
    width: .1875rem;
    height: .1875rem;
    margin-left: 0.5208%;
}

.s4_font-size--35 {
    font-size: .18229167rem;
}

.s5_btn {
    font-size: .18229rem;
    width: 15%;
}