:root {
  /* color */
  --color-main-bg: #000816;

  /* font size */
  --font-size-12px: 0.0625rem;
  --font-size-14px: 0.073rem;
  --font-size-16px: 0.083rem;
  --font-size-20px: 0.104rem;
  --font-size-24px: 0.125rem;
  --font-size-32px: 0.167rem;
  --font-size-48px: 0.25rem;
}
