/* html {
  font-size: 192px;
} */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
img,
video {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  /* display: block; */
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  list-style: none;
  text-decoration: none;
}

button {
  border: none;
}

a,
button {
  cursor: pointer;
}
